<!DOCTYPE html>
<html>
  <head>
    <title>SemanticTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui fixed huge main menu">
      <div class="ui container">
        <div class="header item">
          <img class="logo" src="<%= image_path('diamond.svg') %>" alt="Logo">
        </div>
        <div class="item">
          <%= link_to "Categories", categories_path %>
        </div>
        <div class="item">
          <%= link_to "Products", products_path %>
        </div>
      </div>
    </div>
    <div class="ui container" id="top-div">
      <%= yield %>
    </div>
    <div id="modal-container"></div>
  </body>
</html>
